:root {
	--primary-color: #b5a067;
}

body {
	font-family: 'Teko', sans-serif;
	font-weight: normal;
	letter-spacing: 1.2px;
	line-height: 0.9;
}

.container {
	width: 95%;
	margin: 0 auto;
	text-align: center;

}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background: #fff;
	opacity: 0.95;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}
header .header-panel {
	padding: 9px 0 8px 4px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	line-height: 0.6;

}

header .header-panel .nav-button {
	width: 24px;
	height: 30px;
	margin-right: 18px;
	position: relative;
	outline: none;
	border: none;
	padding: 0;
	background: transparent;
}

header .header-panel .nav-button span,
header .header-panel .nav-button span:before,
header .header-panel .nav-button span:after {
	width: 100%;
	height: 3px;
	background-color: #151515;
	transition: 0.3s all;
}

header .header-panel .nav-button span:before,
header .header-panel .nav-button span:after {
	content: '';
	position: absolute;
	left: 0;
}

header .header-panel .nav-button span:before {
	top: 3px;
}

header .header-panel .nav-button-icon:after {
	bottom: 4px;
}

header .header-panel .nav-button-icon.is-opened {
	transform: rotate(180deg);
}

header .header-panel .nav-button-icon.is-opened:before {
	width: 85%;
	transform-origin: right;
	transform: rotate(-45deg);
	top: 0;
	left: 3px;
}

header .header-panel .nav-button-icon.is-opened:after {
	width: 85%;
	transform-origin: right;
	transform: rotate(45deg);
	bottom: 0;
	left: 3px;
}


header .header-panel .nav-button-icon {
	display: block;
}


header .header-panel .logo img {
	max-width: 130px;
	max-height: 38px;
}

header nav {
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 53px;
	bottom: 0;
	left: -100%;
	transition: 0.3s all;
	background: #fff;
	height: 100vh;
}

header nav.is-collapsed {
	left:0;
	z-index: 999;
	background: white;
}

header nav ul {
	list-style-type: none;
}


header nav .socials {
	display: flex;
	padding: 10px 50px 11px 70px;
}

header nav .socials li {
	margin-right: 20px;
}

header .socials .fab {
	font-size: 18px;
	color: black;
	transition: 0.3s all;
}

header .socials .fab:hover {
	color: var(--primary-color);
}

header .navigation {
	padding: 21px 0 0 0;
	border-top: 1px solid #ccc;
	margin: 0;
}

header .navigation li {
	transition: 0.3s all;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
} 

header .navigation li:hover {
	background-color: var(--primary-color);
}

header .navigation li a {
	display: flex;
	flex: 1 1 auto;
	padding: 17px 20px;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	color: #313131;	
	transition: 0.3s all;
}

header .navigation li:hover > a {
	color: white;
}

header .navigation li i {
	position: absolute;
	right: 20px;
}

header .navigation .active-page {
	background-color: var(--primary-color);
}

header .navigation .active-page a {
	color: white;
}

main .intro {
	background-image: url(../img/slider-img1.jpg);
	background-position: center;
	background-size: cover;
	padding: 117px 0 62px;
	text-align: center;
	color: white;
	position: relative;
}

main .intro h6 {
	margin: 0;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .1em;
}


main .intro h2 {
	margin: 17px 0 18px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 36px;
	letter-spacing: 0.05em;
}

main .intro .buy-button,
main .achievements .experience .btn-primary {
	margin-bottom: 18px;
	padding: 20px 52px;
	border: 0;
	outline: none;
	position: relative;
	z-index: 1;
	background: var(--primary-color);
	font-size: 18px;
	letter-spacing: 1.2px;
	font-weight: 500;
	color: white;
	text-transform: uppercase;
	transition: color 0.3s;
}

main .intro .buy-button:before,
main .booking form .select .submit:before,
main .achievements .experience .btn-primary:before {
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	position: absolute;
	transition: 0.3s all;
	z-index: -1;
	transform: scale(0);
}

main .intro .buy-button:hover,
main .booking form .select .submit:hover,
main .subscribe form .submit:hover,
main .achievements .experience .btn-primary:hover {
	cursor: pointer;
}

main .intro button:hover:before,
main .booking form .select .submit:hover:before,
main .achievements .experience .btn-primary:hover:before {
	transform: scale(1);
}

main .intro .slider-nav {
	width: 155px;
	height: 47px;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);

}

main .intro .slider-nav ul {
	margin: 0;
	padding: 18px 15px 9px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style-type: none;
	text-align: center;
	background-color: white;
}

main .intro ul li {
	width: 4px;
	height: 4px;
	background: white;
	border: 3px solid #ccc;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
	padding: 5px;
	position: relative;	
	overflow: hidden;
	transition: 1.5s all;
}


main .intro li.active {
	border-color: var(--primary-color);
}

main .intro li span {
	border-radius: 50%;
	width: 6px;
	height: 6px;
	outline: none;
	background: black;
	border: none;
	position: absolute;
	top: -50%;
	left: 50%;
	transition: 0.3s all;
	transform: translate(-50%, -50%);
}

main .intro li:hover {
	border-color: var(--primary-color);
}

main .intro li:hover > span {
	top: 50%;
}

main .intro li.active span {
	top: 50%;
}

main .rooms,
main .about-us,
main .informations,
main .team,
main .achievements,
main .faq,
main .comments,
main .our-blog {
	padding: 60px 0;
}

main .rooms h2,
main .about-us h2,
main .gallery h2,
main .informations h2,
main .team h2,
main .comments h2,
main .our-blog h2 {
	margin: 0;
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 400;
}

main .rooms h4,
main .about-us h4,
main .booking h4,
main .gallery h4,
main .informations h4,
main .team h4,
main .comments h4,
main .our-blog h4 {
	margin: 10px 0 3px 0;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 400;

}

main .rooms .heading-panel-nav,
main .comments .heading-panel-nav {
	display: flex;
	justify-content: center;
}

main .rooms .heading-panel-nav .left,
main .rooms .heading-panel-nav .right,
main .comments .heading-panel-nav .left,
main .comments .heading-panel-nav .right
 {
	border: 4px solid var(--primary-color);
	border-radius: 50%;
	padding: 4px 8px;
	transition: 0.3s all;
}

main .rooms .heading-panel-nav .left {
	margin-right: 6px;
}

main .rooms .heading-panel-nav div:hover,
main .comments .heading-panel-nav div:hover {
	border-color: black;
}

main .rooms-list,
main .about-us .offers ul,
main .gallery .gallery-list,
main .informations .steps-list,
main .team .team-list  {
	list-style-type: none;
	padding: 0;
	margin: 40px 0 0 0;
}

main .rooms ul li {
	display: none;
}

main .rooms ul li:first-child {
	display: block;
}

main .rooms h5,
main .about-us h5,
main .informations h5 {
	margin: 18px 0 0;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

main .rooms h5 a,
main .about-us h5 a,
main .informations h5 a {
    text-decoration: none;
    color: #151515;
    transition: 0.3s all;
}

main .rooms h5 a:hover,
main .about-us h5 a:hover,
main .informations h5 a:hover {
	color: var(--primary-color);
}

main .rooms .price-wrapper {
	margin-top: 17px;
	text-transform: uppercase;
}

main .rooms .price-wrapper .price {
	font-size: 22px;
	color: var(--primary-color);
	vertical-align: baseline;
}

main .rooms .price-wrapper .divider {
	font-size: 22px;
	color: #9b9b9b;
}

main .rooms .price-wrapper .date {
	font-size: 18px;
	color: #9b9b9b;
}

main .about-us,
main .informations,
main .comments {
	background-color: #f7f7f7;
}

main .about-us .offers li {
	text-align: center;
	padding: 8px;
	background-color: white;
	margin-bottom: 30px;
}

main .about-us .offers article {
	border: 1px solid #e1e1e1;
	background-color: #f7f7f7;
	padding: 20px 22px 10px;
}

main .about-us .offers i {
	font-size: 36px;
	color: var(--primary-color);
}

main .about-us .offers p {
	color: #9b9b9b;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.8; 
	letter-spacing: normal;
}

.booking {
	background-image: url(../img/girl.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	position: relative;
	padding: 75px 0 70px;
}

main .booking .box-form {
	min-width: 330px;
	margin: 0 auto;
	padding: 30px 20px;
	background-color: #f7f7f7;
}

main .booking h4 {

}

main .booking form {
	margin-top: 16px;
}

main .booking .form-wrap {
	position: relative;
}


main .booking form input {
	width: 100%;
	padding: 12px 10px;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #e1e1e1;
	outline: none;
	box-sizing: border-box;
}


main .booking form input::placeholder,
main .booking form .select .selected {
	font-size: 16px;
	font-family: 'Popins', sans-serif;
	font-weight: 500;
	color: #151515;
}

main .booking form .required {
	position: absolute;
	top: 6px;
	right: 4px;
	font-family: 'Popins', sans-serif;
	font-weight: 600;
	font-size: 9px;
	color: #f5543f;
}

main .booking form .select {
	display: flex;
	flex-direction: column;
}

main .booking form .select .selected {
	margin-bottom: 10px;
	padding: 12px 10px;
	outline: none;
}

main .booking form .select .selected:last-child {
	margin-bottom: 0;
}

main .booking form .select .select-wrap {
	display: flex;
	flex-direction: column;
}

main .booking form .select .submit,
main .subscribe form .submit {
	margin-top: 10px;
	padding: 17px 33px 15px;
	background-color: var(--primary-color);
	color: #fff;
	outline: none;
	border: none;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 1.56;
	position: relative;
	z-index: 1;
}

main .gallery {
	padding: 60px 0;
}

main .gallery li {
	width: 370px;
	margin: 0 auto 30px;
}

main .gallery .caption {
	margin-top: -4px;
	background-color: #303233;
	padding: 25px 15px;
	text-transform: uppercase;
}

main .gallery h5 {
	margin: 0;
}

main .gallery .caption a {
	color: var(--primary-color);
	text-decoration: none;
	font-size: 22px;
	font-weight: 500;
	line-height: 1;
}

main .gallery .caption button {
	margin-top: 12px;
	padding: 16px 30.5px;
	text-transform: uppercase;
	border: 1px solid #ffffff;
	font-weight: 600;
	color: #151515;
	background: #fff;
	outline: none;
	transition: 0.3s all;
}


main .gallery .caption button:hover {
	cursor: pointer;
	background: transparent;
	color: #fff;
	border: 1px solid #fff;
}

main .informations .steps-list li {
	margin-bottom: 30px;
}

main .informations .article {
	padding: 20px 22px 10px;
	text-align: left;
	background-color: #fff;
	position: relative;
}

main .informations i {
	color: var(--primary-color);
	font-size: 42px;
}

main .informations p {
	margin-top: 10px 0 0;
	color: #9b9b9b;
	font-family: 'Popins', sans-serif;
	font-size: 14px;
	line-height: 1.71429;
}

main .informations .article span {
	min-width: 45px;
	padding: 6px 3px 0 7px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 36px;
	font-weight: 400;
	font-family: 'Teko', sans-serif;
	line-height: 1;
	text-align: center;
	background: #f7f7f7;
	color: #9b9b9b;
}

main .subscribe {
	padding: 60px 0;
	position: relative;
	background: url(../img/newsletter-img.jpg);
	background-size: cover;
	background-position: center-center;
	color: #fff;
}

main .subscribe h3,
main .experience h3 {
	text-transform: uppercase;
	font-family: 'Teko', sans-serif;
	font-size: 32px;
	font-weight: 400;
	color: #fff;
}

main .subscribe p {
	margin: 16px 0 0;
	font-family: 'Popins', sans-serif;
	font-size: 14px;
	line-height: 1.71429;
}

main .subscribe input {
	width: 100%;
	padding: 17px 22px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.34);
	outline: none;
	border-color: transparent;
	color: #fff;
	font-family: 'Popins', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

main .subscribe input::placeholder {
	color: #fff;
}

main .subscribe .submit {
	width: 100%;
	transition: 0.3s all;
}

main .subscribe .submit:hover {
	background: black;
}

main .team .team-list {
	padding: 60px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .team li {
	width: 270px;
	margin-bottom: 100px;
	padding: 70px 0 50px;
	background: #f7f7f7;
	position: relative;
}

main .team li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

main .team li .person-image {
	position: absolute;
	top: -80px;
	left: 50%;
	padding: 10px;
	transform: translateX(-50%);
	border-radius: 50%;
	background: #fff;
} 

main .team li .person-image a {
	display: block;
}

main .team li .person-image img {
	border-radius: 50%;
}

main .team li .person-caption {
	padding: 22px 0 0;
}


main .team li .person-caption h5 {
	text-transform: uppercase;
	margin: 0;
	font-size: 22px;
	font-weight: 400;
}

main .team li .person-caption a {
	color: #151515;
	text-decoration: none;
	transition: 0.3s all;
}

main .team li .person-caption a:hover {
	color: var(--primary-color);
}

main .team li .person-caption .team-status {
	display: block;
	margin: 10px 0;
	color: var(--primary-color);
	font-family: 'Popins', sans-serif;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 1.71429;
}


main .team li .person-caption .phone-number {
	font-size: 18px;
}

main .achievements {
	background: #131935;
}

main .achievements .big-img {
	margin-bottom: 50px;
}

main .achievements .big-img .text-img {
	height: 270px;
	display: inline-block;
	font-size: 380px;
	text-decoration: none;
	line-height: 85%;
	font-weight: 500;
	color: transparent;
	-webkit-background-clip: text;
	background-image: url(../img/text-image.jpg);
	background-position: center;
	background-size: cover;
}

main .achievements .experience {
	width: 320px;
	margin: 0 auto;
	text-align: left;
}

main .achievements .experience h3 {
	margin: 0;
	padding-left: 30px;
	position: relative;
	line-height: 1.2;
}

main .achievements .experience h3:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 0;
	width: 4px;
	height: 78%;
	background: var(--primary-color);
}

main .achievements .experience p {
	margin: 8px 0;
	color: rgba(255, 255, 255, 0.3);
	font-family: 'Popins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.71429;
	letter-spacing: 2px;
}

main .achievements .experience .btn-primary {
	margin-top: 30px;
	width: 200px;
}

main .achievements .counter {
	width: 75%;
	margin: 0 auto;
}

main .achievements .counter ul {
	margin-top: 25px;
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}

main .achievements .counter ul li {
	margin-bottom: 25px;
	padding: 0 0 30px;
	border-bottom: 1px solid rgba(255,255,255,.1);
}

main .achievements .counter ul li:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

main .achievements .counter ul  .big {
	font-size: 110px;
	font-weight: 300;
}

main .achievements .counter ul  .simbol {
	font-size: 70px;
	text-transform: uppercase;
}

main .achievements .counter ul .counter-title {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.1em;
	text-transform: uppercase;
} 

main .achievements .clients {
	margin-top: 50px;
}


main .achievements .clients .clients-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .achievements .clients li {
	max-width: 270px;
	max-height: 117px;
	margin-bottom: 30px;
	border: 1px solid rgba(255,255,255,.3);
	box-sizing: border-box;
}

main .achievements .clients li a {
	display: block;
	box-sizing: border-box;
}

main .achievements .clients li img {
	opacity: .5;
}

main .achievements .clients li:last-child {
	margin-bottom: 0;
}

main .faq h2 {
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	color: #151515;
	margin: 0;
}

main .faq h2 span {
	font-size: 28px;
}

main .faq .video {
	margin-top: 35px;
	position: relative;
}

main .faq .video img {
	width: 100%;
}

main .faq .video .play {
	width: 60px;
	height: 60px;
	padding: 6px 6px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: none;
	outline: none;
	background: rgba(255,255,255,.61);
	transition: 0.3s all;
	display: flex;
	align-items: center;
	justify-content: center;
}

main .faq .video .play:hover {
	background: var(--primary-color);
	cursor: pointer;
}

main .faq .video .play:hover> .fa-play {
	color: #fff;
}

main .faq .templates {
	margin-top: 25px;
}

main .faq .templates .cards {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: left;
}

main .faq .templates .card-title {
	border: 1px solid #e1e1e1;
	margin-bottom: 15px;
	position: relative;

	
}

main .faq .templates .card-title:last-child {
	margin-bottom: 0;
}

main .faq .templates .card-title a {
	display: block;
	padding: 23px 72px 17px 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #151515;
	letter-spacing: 1.1;
	font-size: 20px;
	line-height: 1;
	font-weight: 400;
	transition: 0.3s all;
}

main .faq .templates .card-title:hover > a {
	color: var(--primary-color);
}

main .faq .templates .card-title .card-arrow {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	border: 4px solid var(--primary-color);
	border-radius: 50%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

main .faq .templates .card-title .card-arrow:hover {
	cursor: pointer;
}


main .comments .article {
	margin-top: 35px;
	padding: 30px 15px;
	background: #fff;
	filter: drop-shadow(0 0 2px rgba(0,0,0,0.15));
}

main .comments .article .client {
	display: flex;
	align-items: center;
}

main .comments .article .client-image img {
	border-radius: 50%;
}

main .comments .article .client-description {
	margin-left: 24px;
	text-align: left;
	line-height: 1;
}

main .comments .article .client-description a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 22px;
	color: #151515;
	transition: 0.3s all;
}

main .comments .article .client-description a:hover {
	color: var(--primary-color);
}

main .comments .article .client-description .client-status {
	font-family: 'Popins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.3;
	color: var(--primary-color);
}

main .comments .article .client-comment p {
	text-align: left;
	line-height: 1.71;
	font-family: 'Popins', sans-serif;
	font-size: 14px;
	color: #151515;
}

main .our-blog .news-list {
	padding: 0;
	margin: 40px 0 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .our-blog .news-item {
	padding: 15px;
	margin-bottom: 30px;
	max-width: 300px;
	border: 1px solid #e1e1e1;
	box-sizing: border-box;
	text-align: left;
	text-transform: uppercase;
}

main .our-blog .news-item:last-child {
	margin-bottom: 0;
}

main .our-blog .news-item img {
	width: 100%;
}

main .our-blog .news-item .date {
	margin: 20px 0;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
	color: #9b9b9b;
	line-height: 0.75em;
}

main .our-blog .news-item .news-title {
	margin-bottom: 12px;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.2;
}

main .our-blog .news-item .news-title a {
	text-decoration: none;
	color: #151515;
	transition: 0.3s all;
}

main .our-blog .news-item .news-title a:hover {
	color: var(--primary-color);
}


main .our-blog .news-item .badge {
	padding: 7px 9px 4px 19.5px;
	text-align: center;
	display: inline-block;
	background: var(--primary-color);
	color: #fff;
	line-height: 1.2;
	position: relative;
	transition: 0.3s all;
	overflow: hidden;
}

main .our-blog .news-item .badge::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 50%;
	top: 7px;
	left: -7px;
	font-weight: 400;
}

main .our-blog .news-item .badge:hover {
	background: black;
	cursor: pointer;
}

footer .footer-corporate {
	background: #131935;
	padding: 50px 0;
	color: #fff;
	letter-spacing: 0.05em;
}

footer .footer-corporate h5 {
	margin: 0;
	font-size: 22px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

footer .footer-contacts {
	list-style-type: none;
	padding: 0;
	margin: 28px 0 40px 0;
	text-align: center;
}

footer .footer-contacts li {
	display: flex;
	flex-direction: row;
	max-width: 235px;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 18px;
}

footer .footer-contacts li:last-child {
	margin-bottom: 0;
}

footer .footer-contacts li .unit-left {
	margin-right: 22px;
	font-size: 22px;
	color: var(--primary-color);
}

footer .footer-contacts li .unit-body {
	font-family: 'Popins', sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.72;
	letter-spacing: 0.02em;
}

footer .footer-contacts li .unit-body a {
	color: white;
	transition: 0.3s all;
	text-decoration: none;
}


footer .footer-contacts li .unit-body a:hover {
	color: var(--primary-color);
}

footer .footer-news {
	margin-bottom: 40px;
}

footer .footer-news .post {
	max-width: 200px;
	margin: 26px auto 0;
	text-align: left;
	line-height: 1.3;
}

footer .footer-news .post-title {
	margin: 0;
}

footer .footer-news .post-title a {
	font-family: 'Popins', sans-serif;
	font-size: 14px;
	text-align: left;
	text-decoration: none;
	color: var(--primary-color);
	font-weight: bold;
	transition: 0.3s all;
}

footer .footer-news .post-title a:hover {
	color: white;
}

footer .footer-news .post .post-date {
	margin-top: 10px;
	color: rgba(255,255,255,.25);
	text-transform: uppercase;
}

footer .footer-nav-list {
	padding: 0;
	margin: 22px 0 0;
	text-align: center;
	list-style-type: none;
}

footer .footer-nav-list li {
	display: inline-block;
	margin: 0 0 6px 20px;
	text-indent: -18px;
	padding-left: 18px;
	line-height: 1.7;
}

footer .footer-nav-list li::before {
	content: '';
	width: 10px;
	height: 10px;
	display: inline-block;
	position: relative;
	left: -10px;
	border-radius: 50%;
	background: var(--primary-color);
}


footer .footer-nav-list li a {
	font-family: 'Popins', sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: #fff;
	transition: 0.3s all;
	text-transform: capitalize;
}

footer .footer-nav-list li a:hover {
	color: var(--primary-color);
}

footer .footer-nav .footer-btn {
	margin-top: 30px;
	padding: 20px 33px 18px;
	position: relative;
	z-index: 1;
	background: var(--primary-color);
	outline: none;
	border: 0;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.33;
	letter-spacing: .075em;
	color: white;
}

footer .footer-nav .footer-btn:hover {
	cursor: pointer;
}

footer .footer-nav .footer-btn:before {
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	position: absolute;
	transition: 0.3s all;
	z-index: -1;
	transform: scale(0);
}

footer .footer-nav .footer-btn:hover:before {
	transform: scale(1);
}

footer .footer-bottom {
	padding: 30px 0 2px;
	background: #11162b;
}

footer .footer-bottom .footer-socials {
	padding: 0;
	margin: 0 0 10px;
	list-style-type: none;
	text-align: center;
}

footer .footer-bottom .footer-socials li {
	display: inline-block;
	margin-right: 16px;
}

footer .footer-bottom .footer-socials li a {
	color: rgba(255,255,255,.25);
	transition: 0.3s all;
}

footer .footer-bottom .footer-socials li a:hover {
	color: var(--primary-color);
}

footer .copyrights {
	color: rgba(255,255,255,.3);
	font-family: 'Popins', sans-serif;
	font-size: 12px;
}

footer .copyrights p {
	margin: 0;
	letter-spacing: .025em;
	font-weight: bold;
}